* {
	margin: 0;
    padding: 0;
	font-family: "poppins", sans-serif;
    box-sizing: border-box;
}
   .H{
        background-color: #57dcf2;
        display: grid;
        height: 330.8px ;
        width: 100%;
    }
    .sous_titre{
        font-family: "Bebas Neue";
        font-size: 20px;
        margin-top: 0%;
        color: #f7f7f7;
    }
 
    .titel{
        font-family: "Bebas Neue";
        font-size: 50px;
        color: #f7f7f7;;
    }
    .signup-w3ls {
    width: 50%;
    margin: 70px 25% 80%;
    padding: 0;
    display: table;
    position: relative;
    }
    .signup-agile1{
        width:100%;
        float:center;
        }
    .signup-w3ls .signup-agile1 .form-control {
    margin-bottom: 20px;
    }
    label.header {
        font-size: 16px;
        font-weight: 500;
        width: 215px;
        color: grey;
        margin-right:10px;
        text-align:justify;
        letter-spacing: 1px;
        text-transform: uppercase;
        display: inline-block;
        font-family: 'Nunito', sans-serif;
    }
    input#image,input#first_name,input#laste_name,input#age,input#school,select#domaine,select#pays,select#année,input#mail,input#phone_number{
        padding:0 40px;
        width:40%;
        height:55px;
        border: 1px solid #dadada;
        color: grey;
        text-align:justify;
        outline: none;
        letter-spacing: 1px;
        font-size: 16px;
        font-weight:normal;
        font-family: 'Muli', sans-serif;
        border-radius:30px;
        -webkit-border-radius:30px;
        -moz-border-radius:30px;
        -o-border-radius:30px;
        -ms-border-radius:30px; 
        background-color:#f5f8fa;
        border:1px solid #dadada;
    }
    input#phone_number{
        margin-top: 20px;
    }
   
    .register{
    background-color: lightgreen;
    width: 35%;
    height: 55px;
    border: none;
    margin-left: 70px;
    cursor: pointer;
    color: #fff;
    outline: none;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -o-border-radius: 30px;
    -ms-border-radius: 30px;
    font-family: 'Muli', sans-serif;
    }   
    .register:hover {
    background-color:#36b051;
    color:#fff;
    }