/*HEADER*/
* {
	margin: 0;
    padding: 0;
	font-family: "poppins", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{
   
    height: 100vh;
    width: 100%;
    padding: 0 8%;
    background: transparent;
    position: fixed;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 85px;
    height : 100%;  
}
.nav-links{
    padding: 28px 0;
}
.nav-links li{
    display: inline-block;
    margin: 0 15px;
}
.nav-links li a{
    text-decoration: none;
    color: black;
    padding: 5px 0;
    position: relative;
}
.nav-links li a::after{
    content: '';
    background:blue;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.7s;
}
.nav-links li a:hover::after{
    width: 100%;
}
.btn{
    background: #7ed957;
    color: black;
    padding: 5px 30px;
    border-radius: 3px;
    cursor: pointer;
}

body{
    font-family: "Bebas Neue";
    margin: 0px 0px 0px 0px;
    padding: 0%;
    width: 100%;
}
p{
    font-size: large;
}
h3{
    font-size: 40px;
}

/*SECTION 1*/
.Section_HomePage{
    background-image: linear-gradient(#7ed957 70%, #f7f7f7);
    color:#f7f7f7;
    text-align: center;
    height: 740px;
    margin-top: -745px;
}
.StuWork_title{
    padding-top: 200px;
    font-size: 110px;
}
.StuWork_subtitle{
    font-size:60px;
    padding-top: 40px;
}

/*SECTION 2*/
.Section_Who-Are-We{
    background-color: #f7f7f7;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    text-align: center;
    height: 335px;
}
.img_Who-Are-We{
    height: 330px;
    padding-left: 225px;
    padding-top: 30px;
    padding-bottom: 40px;
}
.Who-Are-We_title  {
    color: #f7f7f7;
    background-color: #57dcf2;
    margin-left: 263px;
    margin-top: 45px;
    width: fit-content;  
    border-radius: 30px;
    padding-left:5%;
    padding-right: 5%;
}
.Who-Are-We_text{
    color: #7ed957;
    padding-right: 170px;
    padding-left: 150px;
    margin-top: 50px;
}


/*SECTION 3*/
.Section_Student{
    background-color: #57dcf2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    height: 335px ;
}
.Student_title{
    background-color: #f7f7f7;
    color: #57dcf2;
    margin-left: 306px;
    margin-top: 45px;
    width: fit-content;  
    border-radius: 30px;
    padding-left:5%;
    padding-right: 5%;
}
.Student_title a{
    text-decoration: none;
    color: #57dcf2;
}
.Student_title a:hover{
    color: bisque;
}
.Student_text{
    color: #f7f7f7;
    margin-right: 0px;
    padding-left: 170px;
    margin-top: 50px;
}
.Student_img{
    padding-left: 170px;
    padding-top: 60px;
}

/*SECTION 4*/
.Section_Company{
    background-color: #7ed957;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    height: 335px;
    text-align: center;
}
.Company_img{
    height: 330px;
    padding-left: 160px;
    padding-top: 20px;
}
.Company_title{
    background-color: #f7f7f7;
    color: #7ed957;
    margin-left: 290px;
    margin-top: 80px;
    width: fit-content;  
    border-radius: 30px;
    padding-left:5%;
    padding-right: 5%;
}
.Company_title a{
    text-decoration: none;
    color: #7ed957;
    
}
.Company_text{
    color: #f7f7f7;
    padding-right: 170px;
    padding-left: 130px;
    margin-top: 50px;
}

