/*HEADER*/
* {
	margin: 0;
    padding: 0;
	font-family: "poppins", sans-serif;
    box-sizing: border-box;
}
.header{
   
    height: 100vh;
    width: 100%;
    padding: 0 8%;
    background: transparent;
    position: relative;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 85px;
}
.nav-links{
    padding: 28px 0;
}
.nav-links li{
    display: inline-block;
    margin: 0 15px;
}
.nav-links li a{
    text-decoration: none;
    color: black;
    padding: 5px 0;
    position: relative;
}
.nav-links li a::after{
    content: '';
    background:blue;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;

}
.nav-links li a:hover::after{
    width: 100%;
}
.btn{
    background: #7ed957;
    color: black;
    padding: 10px 30px;
    border-radius: 3px;
    cursor: pointer;
}
.btn1{
    background: #7ed957;
    color: transparent;
    padding: 10px 30px;
    border-radius: 3px;
    cursor: pointer;
}
#element{
    background:url(Contact.png) no-repeat;
}

body{
    font-family: "Bebas Neue";
    margin: 0px 0px 0px 0px;
    padding: 0%;
    width: 100%;
}
p{
    font-size: large;
}

/*SECTION 1*/
.S1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: linear-gradient(#7ed957 80%, #f7f7f7 );
    color:#f7f7f7;
    text-align: center;
    height: 740px;
    margin-top: -745px;
}
.Case_1{
    margin-left: 10%;
    display: grid;
    grid-template-columns: 2fr;
}
.Titre_1{
    padding-top: 160px;
    font-size: 100px;
}
.Sous-titre_1{
    font-size:60px;
    padding-top: 40px;
}
.img_1{
    overflow: hidden;
}
.img_1_0{
    height: 652px;
}

/*SECTION 2*/
.S2{
    background-color:#f7f7f7;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    text-align: center;
}
.img_2{
    height: 410px;
    padding-left: 200px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.Sous-titre_2{
    color: #f7f7f7;
    background-color: #57dcf2;
    width: fit-content;  
    border-radius: 30px;
    font-size: 40px;
    padding-left:5%;
    padding-right: 5%;
    margin-left: 263px;
    margin-top: 90px;
}
.Text_2{
    color: #7ed957;
    padding-right: 170px;
    padding-left: 150px;
    margin-top: 50px;
}


/*SECTION 3*/
.S3{
    background-color: #57dcf2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    height: 414.8px ;
}
.Sous-titre_3{
    background-color: #f7f7f7;
    color: #57dcf2;
    width: fit-content;
    border-radius: 30px;
    font-size: 40px;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 306px;
    margin-top: 80px;
}
.Sous-titre_3 a{
    text-decoration: none;
    color: #57dcf2;
}
.Text_3{
    color: #f7f7f7;
    margin-right: 0px;
    padding-left: 170px;
    margin-top: 50px;
}
.img_3{
    padding-left: 170px;
    padding-top: 60px;
}

/*SECTION 4*/
.S4{
    background-color: #7ed957;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    height: 414.8px;
    text-align: center;
}
.img_4{
    height: 330px;
    padding-left: 160px;
    padding-top: 20px;
}
.Sous-titre_4{
    font-size: 40px;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 30px;
    width: fit-content;
    background-color: #f7f7f7;
    color: #7ed957;
    margin-left: 290px;
    margin-top: 80px;
}
.Text_4{
    color: #f7f7f7;
    padding-right: 170px;
    padding-left: 130px;
    margin-top: 50px;
}

