/*Header*/
* {
	margin: 0;
    padding: 0;
	font-family: "poppins", sans-serif;
    box-sizing: border-box;
}
.header{
   
    height: 100vh;
    width: 100%;
    padding: 0 8%;
    background: transparent;
    position: relative;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 85px;
}
.nav-links{
    padding: 28px 0;
}
.nav-links li{
    display: inline-block;
    margin: 0 15px;
}
.nav-links li a{
    text-decoration: none;
    color: black;
    padding: 5px 0;
    position: relative;
}
.nav-links li a::after{
    content: '';
    background:blue;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;

}
.nav-links li a:hover::after{
    width: 100%;
}
.btn{
    background: #7ed957;
    color: black;
    padding: 10px 30px;
    border-radius: 3px;
    cursor: pointer;
}
.btn1{
    background: #7ed957;
    color: transparent;
    padding: 10px 30px;
    border-radius: 3px;
    cursor: pointer;
}
#element{
    background:url(Contact.png) no-repeat;
}
/*Home page*/
body{
    background-color: #7ed957;
    font-family: "Varela Round";
    margin: 0px 0px 0px 0px;
    padding: 0%;
    width: 100%;
}
.p1{
    display: grid;
    grid-template-columns: 2fr;
    grid-gap:0px;
    justify-content: space-between;
    padding: 0%;
    border: 0%;
    width: 100%;
}
.pp1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    grid-gap:10px;
    background-color: #7ed957;
    color:#f7f7f7;
    text-align: center;
    height: 740px;
    margin-top: -745px;
    border: 0ch;
    padding: 0%;
}
.c{
    width: fit-content;
    margin-left: 10%;
    display: grid;
    grid-template-columns: 2fr;
    grid-gap:-20px;
    margin-top: 100px;
}
.work{
    width: 150%;
    height: 740px;
}
.im1{
    width: fit-content;
    height: 100%;
    margin-right: 0%;
    margin-left: 20%;
}
.Titre{
    font-family: "Bebas Neue";
    font-size: 100px;
    height: 120px;
}
.Sous-titre{
    font-family: "Bebas Neue";
    font-size:60px;
    margin-top: 0%;
}
.p2{
    background-color: #f7f7f7;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    grid-gap: 10px;
    text-align: center;
    width: 100%;
}
.int{
    height: 410px;
    margin-right: 15%;
}
.c2{
    margin-top: 5%;
}
.sous-titre{
    color: #f7f7f7;
    background-color: #57dcf2;
    width: fit-content;
    height: fit-content;  
    border-radius: 30px;
    font-size: 40px;
    padding-left:5%;
    padding-right: 5%;
}
.text{
    color: #7ed957;
    margin-right: 20%;
    margin-left: -20%;
    margin-top: 5%;
    width: fit-content;
    height: fit-content;  
}
p{
    font-size: medium;
}
.p3{
    background-color: #57dcf2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    grid-gap: 10px;
    text-align: center;
    height: 414.8px ;
    width: 100%;
}
.c3{
    margin-top: 5%;
}
.st{
    background-color: #f7f7f7;
    color: #57dcf2;
    width: fit-content;
    border-radius: 30px;
    font-size: 40px;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 45%;
    height: fit-content;
}
/* The result shown for the sign up link is does not show style specifications via github while they are shown when opened via VS Code*/
.st a{
    text-decoration: none;
    color: #57dcf2;
}
.t{
    color: #f7f7f7;
    margin-right: -20%;
    margin-left: 10%;
    margin-top: 5%;
    width: fit-content;
    height: fit-content;
}
.ic{
    margin-left: 15%;
    margin-top: 10%;
}
.p4{
    background-color: #7ed957;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    justify-content: center;
    height: 414.8px;
    text-align: center;
}
.ico{
    margin-right: 25%;
}
.icn{
    height: 410px;
}
.c4{
    margin-top: 5%;
}
.sbt{
    font-size: 40px;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 30px;
    width: fit-content;
    height: fit-content;
    background-color: #f7f7f7;
    color: #7ed957;
    margin-left: 5%;
}
.te{
    color: #f7f7f7;
    margin-right: 20%;
    margin-left: -20%;
    margin-top: 5%;
    width: fit-content;
    height: fit-content;
}

