.Footer{
    background-color: #2c4f40;
    color: aliceblue;
    display: grid;
    grid-template-columns: 1fr 0.75fr 0.75fr;
    text-align: center;
    height: 300px;
}
p{
    font-size: 15px;
}
p.phone{
    width: 315px;
}
p.mail{
    width: 323px;
}
p.linkedin{
    width: 345px;
}
.Footer_case_1{
    font-family: "Bebas Neue";
    font-size: 85px;
    height: fit-content;
    padding-top: 80px;
}
.Footer_h2{
    font-family: "Bebas Neue";
    font-size: 40px;
    padding-top: 50px;
}
img.Footer_img{
    width: 20px;
    float: left;
    margin-left: 135px;
    padding-right: 5px;
}
img.mail_img{
    padding-top: 5px;
}
a{
    text-decoration: none;
    color: aliceblue;
    font-size: 15px;
}
ul{
    list-style: none;
    margin-top: 35px;
}
li{
    padding-bottom: 15px;
}
